/**
 *   AMe Dashboard
 */

 body {
 	background: #eff1f2;
 	color: #2e3335;
 	font-family: "Poppins";
 	font-size: 14px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

 /**
 *   Helpers
 */

.float--left { float: left; }
.float--right { float: right; }

/**
 *   Typography
 */
h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Condensed";
	margin-bottom: 0;
}

/**
 *   Header
 */

 .header {
	background: white;
	padding: 30px 0;
	border-bottom: 1px solid #d7d8d9;
 }

 /**
 *   Dashboard Intro
 */

 .intro {
	padding: 60px 0;
 }

 .intro__title {
 	font-size: 30px;
 	font-weight: bold;
 	margin-bottom: 10px;
 }

 .intro__description {
 	font-size: 16px;
 	font-family: "Poppins";
 	font-weight: 500;
 	color: #9fa1a2;
 }

/**
 *   General Widget
 */
 .widget {

 }

 .widget__inner {
 	background: white;
 }

 .widget__inner--dark {
 	background: #3c4143;
 	color: white;
 }

 .widget__header {
 	padding: 15px;
 	border-bottom: 1px solid #d8dee4;
 }

.widget__name {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}

.widget__header h3 {
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 5px;
	line-height: 1;
}

.widget__header h3 span {
	color: #dc6161;
}

.widget__content {

}

.widget__content--padding {
	padding: 15px;
}

.widget__footer {
	padding: 15px;
	padding-top: 0;
}

.widget__footer--white {
	background: white;
}

/*-----------------------------------------------------------------------------------*/
/*	Buttons
/*-----------------------------------------------------------------------------------*/
.btn {

}

.btn--link {
	font-size: 14px;
	color: #51b8ec;
	text-transform: uppercase;
	font-family: "Poppins";
	font-weight: bolder;
}

/*-----------------------------------------------------------------------------------*/
/*	Top AMe Posts Widget
/*-----------------------------------------------------------------------------------*/

.top_posts__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.top_posts__list-item {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e6ecf1;
}

.top_posts__list-item:last-child {
	margin-bottom: 0;
}

.top_posts_post-title {
	font-size: 14px;
	font-family: "Poppins";
	font-weight: bold;
	margin-bottom: 10px;
}

.top_posts__name,
.top_posts__likes {
	font-size: 13px;
	font-family: "Poppins";
}

.top_posts__name {
	color: #929799;
	float: left;
	font-weight: normal;
}

.top_posts__name a {
	color: #929799;
}

.top_posts__likes {
	font-weight: 600;
	color: #2c3e50;
	float: right;
}

.top_posts__likes i {
	color: #56b9ea;
}

/*-----------------------------------------------------------------------------------*/
/*	Top AMers Widget
/*-----------------------------------------------------------------------------------*/
.top_amers__name {
	font-family: "Poppins";
	font-size: 17px;
	font-weight: 400;
}

.top_amers__value {
	font-family: "Poppins";
	font-size: 16px;
	color: #77858d;
}

.top_amers__content {
	padding: 30px 15px;
}

.top_amers__image {
	position: relative;
}

.top_amers__badge {
	position: absolute;
	display: block;
	width: 45px;
	height: 45px;
	font-size: 30px;
	letter-spacing: -2px;
	background: #59c5fd;
	border-radius: 100%;
	text-align: center;
	font-weight: bold;
	font-family: "Roboto Condensed";
	bottom: -15px;
	left: 10px;
}

.top_amers__navigation {
	padding-top: 15px;
}

.top_amers__navigation-item {
	width: 20%;
	float: left;
	padding: 0 2%;
}

.top_amers__navigation-item:last-child {

}

.top_amers .widget__footer {
	padding: 0 10px 15px 10px;
}


.top_amers__navigation-item img {
	max-width: 100%;
	border-radius: 100%;
}