/* .App {
text-align: center;
}

.App-logo {
animation: App-logo-spin infinite 20s linear;
height: 80px;
}

.App-header {
background-color: #222;
height: 150px;
padding: 20px;
color: white;
}

.App-intro {
font-size: large;
}

@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
} */

/** TADY PSÁT VŠECHNY STYLY **/
/******************************/
/******************************/

/**
 *   AMe Dashboard
 */

 body {
  background: #eff1f2;
  color: #2e3335;
  font-family: "Poppins";
  font-size: 14px;
}

ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

.no-padding {
 padding: 0 !important;
}

img { max-width: 100%; }

/**
*   Helpers
*/

.float--left { float: left; }
.float--right { float: right; }

/**
*   Typography
*/
h1, h2, h3, h4, h5, h6 {
 font-family: "Roboto Condensed";
 margin-bottom: 0;
}

/**
*   Header
*/

.header {
 background: white;
 padding: 5px 0;
 border-bottom: 1px solid #d7d8d9;
 margin-bottom: 30px;
}

.flexbox {
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 align-items: center;
}

h1 {
  font-family: "Knewave";
  color: #3c5a78;
  font-size: 30px;
  line-height: 70px;
  margin-top: -3px;
}

.logo-outer {
  border-radius: 100%;
  margin-left: 2rem;
  width: 70px;
  height: 70px;
}

/* Menu Hamburger */

.menu {
 display: block;
   margin-right: 2rem;
   width: 30px;
   height: 25px;
   cursor: pointer;
}

.menu span {
  height: 3px;
   background-color: #2e3335;
   margin-bottom: 8px;
   display: block;
}

.menu-hamburger {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-color: #eff1f2;
  z-index: 3;
  justify-content: center;
  align-items: center;
  transition: visibility 0.3s linear, opacity 0.3s;
}

#visible {
  visibility: visible;
  opacity: 1;
}

.menu-hamburger ul {
  margin: 2rem 0;
}

.menu-hamburger ul li {
  padding: 2rem;
}

.menu-hamburger__close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2.5rem;
  margin-top: 2.4rem;
  width: 40px;
  height: 25px;
  cursor: pointer;
  z-index: 5;
}

.menu-hamburger__close span {
  height: 4px;
  background-color: #2e3335;
  display: block;
}

.menu-hamburger__close span:nth-child(1) {
  transform: rotate(45deg);
}

.menu-hamburger__close span:nth-child(2) {
  transform: rotate(-43deg);
  margin-top: -3px;
}

/**
* Form Login
*/

.menu-form {
  width: 350px;
  min-width: 300px;
  max-width: 100%;
}

.menu-form--index {
  display: flex;
  flex-direction: column;
}

.menu-form--items {
  display: flex;
  flex-direction: column;
}

.menu-form--items input {
  display: flex;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid #d7d8d9;
  padding: 5px;
  font-size: 1.2rem;
  flex-direction: column;
}

.menu-form--items input:focus {
  border: 1px solid #2e3335;
}

.login-button {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 1.4rem;
  border: 0;
  color: white;
  background-color: #51b8ec;
  padding: 7px 15px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(128, 126, 126, 0.21);
}

.login-button:hover {
  background-color: #3c89af;
  text-decoration: none;
  color: white;
}

/**
*   Dashboard Intro
*/

.intro {
 padding: 8px 0;
 margin-left: 30px;
 padding-left: 20px;
 text-align: center;
}

.intro__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
}

.intro__description {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400;
  color: #9fa1a2;
}

/**
*   General Widget
*/
.widget {
 margin-bottom: 30px;
}

.widget__inner {
  background: white;
 box-shadow: 0px 0px 15px 0px rgba(128, 126, 126, 0.21);

}

.widget__inner--dark {
  background: #3c4143;
  color: white;
}

.widget__header {
  padding: 15px;
  border-bottom: 1px solid #d8dee4;
}

.widget__name {
 font-size: 20px;
 font-weight: bold;
 margin-bottom: 0;
}

.widget__header h3 {
 font-size: 14px;
 margin-bottom: 0;
 margin-top: 5px;
 line-height: 1;
}

.widget__header h3 span {
 color: #dc6161;
}

.widget__content {
  margin-top: -1px;
}

.widget__content--padding {
 padding: 15px;
}

.widget__footer {
 padding: 15px;
 padding-top: 0;
}

.widget__footer--white {
 background: white;
}

.widget__footer--dark {
 background: #2e3335;
 color: white;
}

/*-----------------------------------------------------------------------------------*/
/*	Buttons
/*-----------------------------------------------------------------------------------*/
.btn {

}

.btn--link {
 font-size: 14px;
 color: #51b8ec;
 text-transform: uppercase;
 font-family: "Poppins";
 font-weight: bolder;
}

/*-----------------------------------------------------------------------------------*/
/*	Top AMe Posts Widget
/*-----------------------------------------------------------------------------------*/

.top_posts__list {
 list-style: none;
 margin: 0;
 padding: 0;
}

.top_posts__list-item {
 padding-bottom: 15px;
 margin-bottom: 15px;
 border-bottom: 1px solid #e6ecf1;
}

.top_posts__list-item:last-child {
 margin-bottom: 0;
}

.top_posts_post-title {
 font-size: 14px;
 font-family: "Poppins";
 font-weight: bold;
 margin-bottom: 10px;
}

.top_posts__name,
.top_posts__likes {
 font-size: 13px;
 font-family: "Poppins";
}

.top_posts__name {
 color: #929799;
 float: left;
 font-weight: normal;
}

.top_posts__name a {
 color: #929799;
}

.top_posts__likes {
 font-weight: 600;
 color: #2c3e50;
 float: right;
}

.top_posts__likes i {
 color: #56b9ea;
}

/*-----------------------------------------------------------------------------------*/
/*	Top AMers Widget
/*-----------------------------------------------------------------------------------*/
.top_amers__name {
 font-family: "Poppins";
 font-size: 17px;
 font-weight: 400;
}

.top_amers__value {
 font-family: "Poppins";
 font-size: 16px;
 color: #77858d;
}

.top_amers__content {
 padding: 30px 15px;
}

.top_amers__image {
 position: relative;
}

.top_amers__badge {
 position: absolute;
 display: block;
 width: 45px;
 height: 45px;
 font-size: 30px;
 letter-spacing: -2px;
 background: #59c5fd;
 border-radius: 100%;
 text-align: center;
 font-weight: bold;
 font-family: "Roboto Condensed";
 bottom: -15px;
 left: 10px;
}

.top_amers__navigation {
  overflow: hidden;
  background: white;
  padding: 20px 10px;
}

.top_amers__navigation-item {
  width: 20%;
  float: left;
  padding: 0 2%;
  transition: all 0.2s;
  cursor: pointer;
}

.top_amers__navigation .slick-active .top_amers__navigation-item {
  transform: scale(1.15);
}

.top_amers .widget__footer {
 padding: 0 10px 15px 10px;
}


.top_amers__navigation-item img {
 max-width: 100%;
 border-radius: 100%;
}

/*-----------------------------------------------------------------------------------*/
/*	Weather Widget
/*-----------------------------------------------------------------------------------*/
.weather__city {
 font-family: "Poppins";
 font-size: 30px;
 font-weight: 400;
}

.weather__slide {
 text-align: center;
 margin-bottom: 40px;
}

.weather__temperature {
 font-size: 45px;
 display: inline-block;
 font-weight: bold;
 margin-left: 15px;
 margin-top: 5px;
}

.weather__wind,
.weather__humidity {
 display: inline-block;
 font-size: 14px;
 text-transform: uppercase;
 margin-left: 20px;
 font-weight: bold;
 position: relative;
 top: -10px;
}

.weather__wind i,
.weather__humidity i {
 font-size: 18px;
 margin-right: 5px;
}

.weather__temperature span {
 font-weight: normal;
 font-family: "Poppins";
 font-size: 20px;
 position: relative;
 font-weight: 500;
 top: -21px;
 margin-left: 1px;
}

.weather__date {
 background: #51b8ec;
 text-align: right;
 padding: 8px 10px;
}

.weather__day {
 font-size: 14px;
 font-weight: bold;
 text-transform: uppercase;
 margin-bottom: 5px;
}

.weather__time {
 font-weight: bold;
 font-size: 24px;
}

.weather__icon {
 text-align: center;
 padding: 30px 0 40px 0;
}

.weather__icon i {
 font-size: 90px;
}

.weather__slide--arrow-right {
  margin: 28px 40px 0 0;
}

.weather__slide--arrow-right::before {
  color: #333333;
  opacity: 1;
}

.weather__slide--arrow-left {
  z-index: 2;
  margin: 28px 0 0 40px;
}

.weather__slide--arrow-left::before {
  color: #333333;
  opacity: 1;
}

/*-----------------------------------------------------------------------------------*/
/*	People of the day Widget
/*-----------------------------------------------------------------------------------*/
.people-day__name {
 margin-top: 15px;
 font-family: "Poppins";
 font-weight: 400;
 margin-bottom: 3px;
 font-size: 20px;
}

.people-day__nickname {
 font-family: "Poppins";
 font-size: 14px;
}

.people-day__nickname a {
 color: #929ba0;
}

.people-day__content {
 margin-bottom: 0;
 font-size: 14px;
}

/*-----------------------------------------------------------------------------------*/
/*	Admin Area
/*-----------------------------------------------------------------------------------*/

.admin-sidebar {
  height: 100vh;
  padding: 0;
  background-color: #2d3235;
  /* #2d3235 */
}

.admin-sidebar__user-info {
  padding: 20px 5px;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-sidebar__user-info p {
  margin-top: 20px;
  margin-bottom: -5px;
  font-family: "Roboto Condensed";
  font-size: 1.1rem;
  color: white;
}

.admin-sidebar__user-info--profile-pic {
  width: 150px;
}

.admin-sidebar__user-info--profile-pic img {
  border-radius: 50%;
  max-width: 100%;
}

/* Admin Sidebar List */

.admin-sidebar__list {
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
}

.admin-sidebar__list ul li {
  padding: 10px 0;
  display: block;
}

#admin-sidebar__list--active {
  width: 100%;
  background-color: #1f2325;
}

.admin-sidebar__list ul li a {
  display: block;
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  padding: 5px 0;
  margin-left: 15px;
}

.admin-sidebar__other {
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
  padding: 10px 0;
  border-top: 1px solid white;
}

.admin-sidebar__other ul li a {
  display: block;
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  padding: 5px 0;
}

/* Admin Header */
.admin-header {
  width: 100%;
  height: 110px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d7d8d9;
}

.admin-header h1 {
  font-family: "Roboto Condensed";
  font-size: 3rem;
  font-weight: bold;
  color: #2d3235;
  margin: 0 0 0 3rem;

}

.admin-header--button {
  font-family: "Roboto Condensed";
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #51b8ec;
  margin: 0 3rem 0 0;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(128, 126, 126, 0.21);
}

.admin-header--button:hover {
  background-color: #3982a7;
}

.zero-padding {
  padding: 0;
}

/* Admin Main */

.admin-main {
  background-color: white;
  margin: 3rem 5rem;
  box-shadow: 0px 0px 15px 0px rgba(128, 126, 126, 0.21);
}

.admin-main--button {
  font-family: "Roboto Condensed";
  font-size: 1.2rem;
  color: white;
  background-color: #51b8ec;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(128, 126, 126, 0.21);
}

.admin-main--button-delete {
  background-color: #ec5151;
}

.admin-main--button-delete:hover {
  background-color: #a73a3a;
}

.admin-main--button-edit {
  background-color: #51b8ec;
  margin-right: 1rem;
}

.admin-main--button-edit:hover {
  background-color: #3982a7;
}

.admin-main__items ul {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.admin-main__items ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid #d7d8d9;
}

.admin-main__items ul li p {
  margin: 0;
  font-family: "Poppins";
  font-size: 1.7rem;
}